<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uucyan.memopush">

    <application
        android:name="com.uucyan.memopush.MemoPush"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="めもぷっしゅ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MemoActivity"
            android:parentActivityName=".MainActivity"
            android:label="メモの追加・編集">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <receiver
            android:name=".AlarmBroadcastReceiver"
            android:process=":remote" >
        </receiver>

    </application>
</manifest>